Which candidate is the most given to loquaciousness?
How many times does Clinton get interrupted?
Who gets the most audience applause?
When is positive sentiment at its highest during the candidates' word play?

In [3]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('../data/2016usapresident.csv')
df.head()

   Line   Speaker                                               Text     Date
0     1      Holt  Good evening from Hofstra University in Hempst...  9/26/16
1     2  Audience                                         (APPLAUSE)  9/26/16
2     3   Clinton                               How are you, Donald?  9/26/16
3     4  Audience                                         (APPLAUSE)  9/26/16
4     5      Holt                                  Good luck to you.  9/26/16

In [54]:
speaker = df[['Speaker','Text','Date']].groupby(['Speaker','Date']).agg(['count'])
speaker = speaker['Text'].reset_index()                       #pivot(index='Date',columns='Speaker',values='count')
speaker.head()

      Speaker        Date  count
0    Audience  10/19/2016      7
1    Audience     10/4/16      2
2    Audience     10/9/16     10
3    Audience     9/26/16     17
4  CANDIDATES  10/19/2016     10

In [60]:
speaker1 = speaker[['Speaker','count']].groupby(('Speaker')).agg(['sum'])
speaker1.head()

           count
             sum
Speaker
Audience      36
CANDIDATES    47
Clinton      243
Cooper        75
Holt          98