In [1]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt
import matplotlib
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
crash_df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')

In [13]:
matplotlib.rcParams['figure.figsize'] = (12.0, 8.0)

In [3]:
operator = crash_df[['Operator','Fatalities']].groupby('Operator').agg(['sum','count'])
operator.head()

                  Fatalities
                         sum count
Operator
A B Aerotransport        3.0     2
AB Aerotransport        58.0     3
ACES Colombia           40.0     3
ADC Airlines            97.0     2
ADES Colombia           22.0     2