In [26]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.666124 -0.000223  X  alpha
1  0.679126  0.336878  X   beta
2  0.409620  0.412554  Y  alpha
3 -1.023205  0.480464  Y   beta
4 -0.424001  2.259855  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [6]:
group1.sum()

k1
X    1.345250
Y   -0.613585
Z   -0.424001
Name: dataset1, dtype: float64

In [2]:
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

columns=[('c','a'),('c','b')]

df.columns=pd.MultiIndex.from_tuples(columns)
df

   c
   a  b
0  1  4
1  2  5
2  3  6

In [4]:

df = pd.DataFrame({
    'clients': pd.Series(['A', 'A', 'A', 'B', 'B']),
    'odd1': pd.Series([1, 1, 2, 1, 2]),
    'odd2': pd.Series([6, 7, 8, 9, 10])})
df

  clients  odd1  odd2
0       A     1     6
1       A     1     7
2       A     2     8
3       B     1     9
4       B     2    10

In [10]:
aggd = df.groupby(['clients', 'odd1']).agg(['sum','mean'])

aggd

             odd2
              sum  mean
clients odd1
A       1      13   6.5
        2       8   8.0
B       1       9   9.0
        2      10  10.0

In [13]:
import pandas as pd
df = pd.DataFrame({
'Region' : ['A', 'A', 'C', 'C', 'C', 'B'],
'Store' : ['A', ' B ', 'A ', 'B ', 'A ', 'A'],
'Quantity': [1, 1, 2, 3, 4, 5],
'Date' : ['2009-04-05','2009-04-05','2010-05-05', '2009-08-05', '2011-02-05', '2009-04-05']})
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x))
df.set_index(['Date','Region','Store'], inplace=True)
df_1 = df.unstack(level=[1,2])
df

                         Quantity
Date       Region Store
2009-04-05 A      A             1
                   B            1
2010-05-05 C      A             2
2009-08-05 C      B             3
2011-02-05 C      A             4
2009-04-05 B      A             5

In [14]:
df_2 = df_1.applymap(lambda x: 1 if pd.notnull (x) else 0)
df_2

           Quantity
Region            A      C     B
Store             A  B  A  B   A
Date
2009-04-05        1   1  0  0  1
2009-08-05        0   0  0  1  0
2010-05-05        0   0  1  0  0
2011-02-05        0   0  1  0  0

In [28]:
data = {'death':[23,34,43],'all':[43,34,98]}
df = DataFrame(data)
df

   all  death
0   43     23
1   34     34
2   98     43

In [29]:
print "%i" %sum(df.all)

TypeError: 'instancemethod' object is not iterable

In [1]:
import matplotlib.pyplot as plt
from matplotlib.patches import Ellipse
import numpy as np

In [6]:
    # if only one location is given, the text and xypoint being
    # annotated are assumed to be the same
    fig = plt.figure()
    ax = fig.add_subplot(111, autoscale_on=False, xlim=(-1, 5), ylim=(-3, 5))
    t = np.arange(0.0, 5.0, 0.01)
    s = np.cos(2*np.pi*t)
    line, = ax.plot(t, s, lw=3, color='purple')
        ax.annotate('figure pixels',
                xy=(10, 10), xycoords='figure pixels')

    ax.annotate('figure points', xy=(80, 80),
                xycoords='figure points')

    ax.annotate('point offset from data', xy=(2, 1),
                xycoords='data',
                xytext=(-15, 25), textcoords='offset points',
                arrowprops=dict(facecolor='black', shrink=0.05),
                horizontalalignment='right', verticalalignment='bottom',
                )

    ax.annotate('axes fraction', xy=(3, 1), xycoords='data',
                xytext=(0.8, 0.95), textcoords='axes fraction',
                arrowprops=dict(facecolor='black', shrink=0.05),
                horizontalalignment='right', verticalalignment='top',
                )

    ax.annotate('figure fraction', xy=(.025, .975),
                xycoords='figure fraction',
                horizontalalignment='left', verticalalignment='top',
                fontsize=20)

IndentationError: unexpected indent (<ipython-input-6-4a8e15b37e96>, line 8)