In [7]:
#encoding=utf-8
import pandas as pd
df = pd.read_csv('../data/liruijie-20161007.csv')
# -*- coding:gb2312 -*-
df.head()

,����,ʡ��,����,��������������,��������������,����,���ֻ���,ǩԼ���п�����,����ͨ������,�ɹ����׽��,֧����ʽ
0,20160927,����,����,8311041797,��ˮ˳������Ӫҵ��,����,1320602****,NaN,NaN,800.0,����
1,20160911,����,����,8311041797,��ˮ˳������Ӫҵ��,����,1320602****,NaN,NaN,1000.0,����
2,20160930,����,����,8311041802,������̫����Ӫҵ��,������,1310237****,NaN,NaN,500.0,����
3,20160928,����,����,8311041802,������̫����Ӫҵ��,������,1310237****,NaN,NaN,500.0,����
4,20160926,����,����,8311041802,������̫����Ӫҵ��,������,1310237****,NaN,NaN,700.0,����

In [6]:
df.count()

����              1360562
ʡ��               1360562
����              1360562
��������������    1360562
��������������    1360562
����              1360562
���ֻ���           1360562
ǩԼ���п�����          9691
����ͨ������        550901
�ɹ����׽��         1360562
֧����ʽ            1360562
dtype: int64