In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [3]:
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.666124 -0.000223  X  alpha
1  0.679126  0.336878  X   beta
2  0.409620  0.412554  Y  alpha
3 -1.023205  0.480464  Y   beta
4 -0.424001  2.259855  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [6]:
group1.sum()

k1
X    1.345250
Y   -0.613585
Z   -0.424001
Name: dataset1, dtype: float64

In [2]:
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

columns=[('c','a'),('c','b')]

df.columns=pd.MultiIndex.from_tuples(columns)
df

   c
   a  b
0  1  4
1  2  5
2  3  6

In [4]:

df = pd.DataFrame({
    'clients': pd.Series(['A', 'A', 'A', 'B', 'B']),
    'odd1': pd.Series([1, 1, 2, 1, 2]),
    'odd2': pd.Series([6, 7, 8, 9, 10])})
df

  clients  odd1  odd2
0       A     1     6
1       A     1     7
2       A     2     8
3       B     1     9
4       B     2    10

In [10]:
aggd = df.groupby(['clients', 'odd1']).agg(['sum','mean'])

aggd

             odd2
              sum  mean
clients odd1
A       1      13   6.5
        2       8   8.0
B       1       9   9.0
        2      10  10.0

In [ ]:
print(aggd.unstack(['odd1']).loc[:, ('odd2','average')])